#main_section {
    padding-top: 150px;
}

#key_section {
    display: none;
}

#bass_drum {
    width: 100px;
    height: 100px;
    background: black;
    border-radius: 50%;
    padding: 5px;
}

#snare_drum {
    width: 100px;
    height: 100px;
    background: black;
    padding: 5px;
}

#open_hat {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid black;
}

#closed_hat {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid black;
}